body{background-color: #F7F7F7;}

header{background-color: #fff;box-shadow: 0 3px 8px #CDCDCD1A;}
.line{width: 100%; height: 1px; background-color: #EFEEEE;}
.inner-wrap{display: block;}
.header-wrap > a>  span{display: block; width: 12px;height: 12px; border: 1px solid #262626; border-bottom: none;border-left: none; }
.prev{margin-left: 4px; transform: rotate(-135deg);}
.header-wrap .month-select span{font-size: 18px;}
.header-wrap .month-select >span:after{content: ''; display: inline-block; width: 6px; height: 6px; border: 1px solid ; border-left: none; border-bottom: none;  transform:translateY(-4px) rotate(135deg); margin-left: 6px;}
.header-wrap > .util .hamburger span{background-color: #262626;}

.cont{ padding: 40px 0 1px 0;}
.pay-area{position: relative; margin-bottom: 40px;}

.vertical-bar{position: absolute;display: inline-block; left: 36px; width: 1px; height: 100%; background-color: #DDDDDD; z-index: -1;}

.pay-tit-box{width: max-content; height: 32px; background-color: #2FC5FE;
border-radius: 40px; display: flex; justify-content: space-between;
align-items: center; padding: 8px 17px; margin-bottom: 16px;}
.pay-tit-box span{color: #fff; font-size: 14px;}
.vertical{ width: 1px; height: 12px; background-color: #F7F7F7; opacity: .5; margin: 0 24px;}

.box_1,.box_2{width: 100%; height: 80px;margin-bottom: 12px; padding: 21px 20px;display: block;}

.pay-box{height: 59px;  display: flex; justify-content: space-between; }
.pay-box > .left-box img{width: 30px; }
.pay-box > .left-box > .pay{display: inline-block; margin-left: 12px;}
.pay-box > .left-box > .pay h3{margin-bottom: 4px;}
.pay-box > .left-box > .pay>span{font-size: 14px; color: #707070;font-weight: 300;}
.pay-box > .left-box > .pay>span:after{content: ''; display: inline-block; width: 1px; height: 12px; border-right: 1px solid #707070; margin-left: 4px;transform: translateY(1px);}
.pay-box > .left-box > .pay p{display: inline-block; font-size: 14px; color: #707070;font-weight: 300;}
.pay-box > span{margin-top: 10px; }

.box_2 p{font-weight: 600;margin-bottom: 8px; display: flex;align-items: center;}
.box_2 p span{font-size: 16px; font-weight: 400;margin: 0 4px;}
.box_2 p img{width: 15px;}
.box_2 > span{color: #707070;font-size: 14px;font-weight: 300;}



.box_3{width: 100%; height: 200px;margin-bottom: 12px; padding: 21px 20px;display: block;}
.card-recom{display: flex; align-items: center; margin-top: 56px; }
.card-recom > img{ width: 108px; margin-right: 20px;}

.card-recom .text > h3{margin-bottom: 12px;}
.card-recom .text > p{font-size: 14px;  color: #707070;line-height: 17px;}