#wrap{
    /* width: 1100px; */ /* 고정값 */
    min-width: 1100px; /* 최소 넓이 */
    max-width: 1920px; /* 최대 넓이 */
    margin-left: auto;
    margin-right: auto;
    border-top: solid 0.1px;
    
}
body{
    background-color: #e0e0e0;
    padding-top: 50px;
    margin: 0px;
    
}
header{
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
}
.float_left a:link{text-decoration: none; color: black;}
.float_left a:visited{text-decoration: none; color: black;}
.float_left a:active{text-decoration: none; color: black;}
.float_left a:hover{text-decoration: none; color: black;}


a:link{text-decoration: none; color: #858585;;}
a:visited{text-decoration: none; color: #858585;;}
a:active{text-decoration: none; color: #858585;}
a:hover{text-decoration: none; color: black;}
.float_left{
    float: left;
    padding-left: 60px;
    margin-left: 50px;
    overflow: hidden;
    transition: transform .3s;
    text-align: center;   
}
.float_left:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}
.float_left1{
    float: left;
    padding-left: 60px;
    margin-left: 50px;
    overflow: hidden;
    transition: transform .3s;
    text-align: center;
    color: #858585;   
}
.float_left1:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}
.clear {clear:both; height:0; overflow:hidden;}
.timeline {
    
    padding: 200px 200px;
}

.timeline ol {
    width: 100%;
    transition: all 1s;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-between;
    font-size: 14px;   
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 300;
    font-style: normal;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    padding-top: 200px;
    text-shadow: 0px 0px 2px gray;
}

.timeline ol li {
    list-style:none;
    position: relative;
    text-align:center;
    flex-grow: 11;
    flex-basis: 0;
    padding: 0 5px;
}

.timeline ol li:before {
    content:"";
    width:10px;
    height:10px;
    display:block;
    border-radius:50%;
    background: white;
    margin:0 auto 5px auto;
}
.timeline ol li:not(:last-child)::after {
      content: "";
      width: calc(100% - 14px);
      height: 2px;
      display: block;
      background: black;
      margin: 0;
      position: absolute;
      top: 4px;
      left: calc(50% + 7px);
}

#img{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
#img img{
    float: left;
    width: 430px;
    height: 560px;
}

footer{
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer>h3{
    
    font-size: 12px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: normal;
    text-align: center;
    
}

#navibar{
    background-color: white;
    height: 73px;
    
}

figure.snip1384 {
    float: left;
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 400px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    background-color: #000000;
  }
  figure.snip1384 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  figure.snip1384 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  figure.snip1384:after,
  figure.snip1384 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  figure.snip1384:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
  }
  figure.snip1384 figcaption {
    z-index: 1;
    padding: 40px;
  }
  figure.snip1384 h3,
  figure.snip1384 .links {
    width: 100%;
    margin: 5px 0;
    padding: 0;
  }
  figure.snip1384 h3 {
    line-height: 1.1em;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    opacity: 0;
    text-align: center;
  }
  figure.snip1384 p {
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0;
    top: 50%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  figure.snip1384 i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px 25px;
    font-size: 34px;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  figure.snip1384 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  figure.snip1384:hover img,
  figure.snip1384.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  figure.snip1384:hover:after,
  figure.snip1384.hover:after {
    opacity: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
  figure.snip1384:hover h3,
  figure.snip1384.hover h3,
  figure.snip1384:hover p,
  figure.snip1384.hover p,
  figure.snip1384:hover i,
  figure.snip1384.hover i {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
  }

