#wrap{
    min-width: 1100px; /* 최소 넓이 */
    max-width: 1920px; /* 최대 넓이 */
    margin-left: auto;
    margin-right: auto;
    border-top: solid 0.1px;
    margin-bottom: 0;
}
header nav{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    color: #858585;
}
body{
    background-color: #e0e0e0;
    padding-top: 50px;
    margin: 0px;
}
.clear {clear:both; height:0; overflow:hidden;}

a:link{text-decoration: none; color: #858585;;}
a:visited{text-decoration: none; color: #858585;;}
a:active{text-decoration: none; color: #858585;}
a:hover{text-decoration: none; color: black;}

.float_left a:link{text-decoration: none; color: black;}
.float_left a:visited{text-decoration: none; color: black;}
.float_left a:active{text-decoration: none; color: black;}
.float_left a:hover{text-decoration: none; color: black;}


.float_left{
    float: left;
    padding-left: 60px;
    margin-left: 50px;
    overflow: hidden;
    transition: transform .3s;
    text-align: center;
    color: black;
}
a{text-decoration: none; color: #858585;}
a:link{text-decoration: none; color: #858585;;}
a:visited{text-decoration: none; color: #858585;;}
a:active{text-decoration: none; color: #858585;}
a:hover{text-decoration: none; color: black;}

.float_left:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}
.float_left1{
    float: left;
    padding-left: 60px;
    margin-left: 50px;
    overflow: hidden;
    transition: transform .3s;
    text-align: center;
    color: #858585;   
}
.float_left1:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}
tr img:hover{
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    color: black;
}

table {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 30px;
  }
  td {
    width: 25%;
    height: 600px;
    position: relative;
  }
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  td .content {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: solid 0.1px;
  }

  tr img{
    position: relative;
    display: block;
    padding: 5px auto;
    width: 100%;
    height: 100%;
    transition: transform .3s;
  }
  footer{
    height: 150px;
    background-color: white;
}
footer>h3{
    font-size: 12px;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
}
#footernav{
    
    top: 0;
    left: 0;
    right: 0;
    color: #858585;
}
