
body{background-color:#32C5FF;}

.prog{height: 12px;}


header{background-color: #32C5FF;}

.header-wrap > .menu a{color: #F7F7F7;}
.header-wrap > .menu a.active{font-size: 26px; opacity: 1;}
.header-wrap > .menu a.active li:before{content: ''; display: block; width: 4px; height: 4px; border-radius: 50%; background-color: #F7F7F7; position: absolute; top: -10px; left: 50%;  transform: translateX(-50%);}
.header-wrap > .util > .hamburger span{background-color: #F7F7F7;}



.line{background-color: #F7F7F7;}
section{background-color: #F7F7F7;}

.main-visual{ width: 100%; height: 372px; background-color: #32C5FF;}
.main-visual .emogi{display: inline-block; margin-top: 40px; margin-left: 4px; font-size: 14px; line-height: 18px;}
.main-visual .emogi img{width: 18px;margin-right: 4px;}
.main-text{font-size: 30px; line-height: 40px; margin-top: 20px; color: #F7F7F7; position: relative;}
.main-text .percent{display: inline-block; margin-right: 0;}
.main-visual .prog{margin-top: 32px;}
.main-visual .progs{width: 0%; background: #3262FF;}
.next{content: ''; display: inline-block; width: 10px; height: 10px; border: 2px solid ; border-left: none; border-bottom: none;  transform: rotate(45deg); position: absolute; right: 4px; bottom: 10px;}
.tit > h2{display: inline; font-size: 18px; line-height: 21px;}


.cont > .inner-wrap{transform: translateY(-64px);}

.box_1{padding-top: 25px;}
.box_1 .tit-box{width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 0 20px;}
.box_1 .tit-box > span{line-height: 18px;}
.box_1 .tit-box span:after{content: ''; display: inline-block; width: 6px; height: 6px; border: 1px solid ; border-left: none; border-bottom: none;  transform:translateY(-2px) rotate(45deg); margin-left: 4px;}
.tit > h2{display: inline; font-size: 18px; line-height: 21px;}
.box_1 .tit .circle{display: inline-block; width: 20px; height: 20px;background-color:#CDF1FF;margin-left: 4px; text-align: center; line-height: 20px; border-radius: 20px;}
.box_1 > .line{margin: 20px 0;}
.box_1 .text-box{width: 100%; display: flex; justify-content: space-between;align-items: center; margin-bottom: 32px;padding: 0 20px; }
.box_1 .text-box > .bank{display: flex;align-items: center;}
.box_1 .text-box > .bank >img{width: 25px; margin-right: 8px;}



.pay-box > .left-box > .pay>span:after{content: ''; display: inline-block; width: 1px; height: 12px; border-right: 1px solid #CDCDCD; margin-left: 4px;transform: translateY(1px);}

.box-tit{display: flex; justify-content: space-between; margin: 32px 4px 16px 4px;}
.box-tit h2{font-size: 18px;}
.box-tit > span{color: #707070;}
.box-tit span:after{content: ''; display: inline-block; width: 6px; height: 6px; border: 1px solid ; border-left: none; border-bottom: none;  transform:translateY(-2px) rotate(45deg); margin-left: 4px;}
.box_2{height: 324px;padding-top: 24px; }
.box_2 img{width: 25px;}
.box_2 > .line{margin: 20px 0;}



.box_3{height: 348px; margin-top: 32px; padding: 24px 20px 0 20px;}
.box_3 > .tit-box> span{color: #707070;}
.box_3 > .fix_pay{margin-top: 32px;}
.box_3 > .fix_pay >p{color: #707070;margin-bottom: 8px;}
.box_3 > .fix_pay >span{font-size:20px;  color: #262626;}
.box_3 > .prog{margin-top: 20px;}
.box_3 > .prog > .progs{width: 55%; background: #32C5FF;}
.box_3 > .prog-text p{color: #707070;}
.box_3 > .prog-text span{ color: #262626;}
.box_3 > .radius-box{width: 72px; height: 24px; border-radius: 50px; background-color: #DDDDDD; font-size: 14px; color: #262626; text-align: center; line-height: 24px;margin: 32px 0 25px 0;}
.box_3 > .text-box{width: 100%; display: flex; justify-content: space-between;align-items: center; margin-bottom: 20px;}
.box_3 > .text-box > .left-box > span{font-size: 14px; color:#707070;}
.box_3 > .text-box > .left-box > img{width: 15px; margin: 0 8px;}
.box_3 > .text-box > .left-box > p{display: inline-block;}

